<% if (!data) { var data = {} } %>
<header class="header-area intelligent-header">
  <div class="col-md-12">
    <div class="logo floatleft">
      <a href="/">
        <img alt="Fight for a Better America logo" src="/img/logo/logo2.png" style="max-width: 60px;">
      </a>
    </div>
    <div class="header-search floatright">
      <div class="header-button floatright">
        <a href="/help">How You Can Help</a>
      </div>
    </div>
    <div class="main-menu floatright">
      <nav>
        <ul>
          <!-- <li><a href="/resources" class="<%= data.state === 'resources' ? 'active' : '' %>">Resources</a></li> -->
          <!-- <li><a href="/contact" class="<%= data.state === 'contact' ? 'active' : '' %>">Contact</a></li> -->
          <li><a href="/about" class="<%= data.state === 'about' ? 'active' : '' %>">Who We Are</a></li>
          <li><a href="/initiatives" class="<%= data.state === 'initiatives' ? 'active' : '' %>">Initiatives</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Issues
            </a>
            <component key=ekrnm class="dropdown-menu dropdown-menu-right">
              <a v-for="item in items" class="dropdown-item" :href="item.link" v-text="item.title"></a>
            </component>
          </li>
          <li><a href="/donate" class="<%= data.state === 'donate' ? 'active' : '' %>">Donate</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
